# Banco de Dados 
DATABASE_URL=postgresql+psycopg://micromouse:micromouse@localhost:5432/micromouse
# Tempo de Execução (10min)
TEMPO_MAXIMO_EXECUCAO_S=600
# Limite de Tempo (back <--> firmware)
LIMITE_SEM_SINAL_S=10
# Ponte
API_URL=http://localhost:8000
PONTE_PORTA_SERIAL=/dev/rfcomm0
PONTE_FILA_MAXIMA=100
# Simulador
SIMULADOR_SAIDA=stdout
SIMULADOR_ACELERAR=1
SIMULADOR_TAXA_TEL_HZ=5
